<template>
  <section class="section">
    <div class="container">
      <div class="columns is-multiline">
        <div v-for="dev in devs" :key="dev.id" class="column is-quarter is-6-mobile">
          <div class="card">
            <div class="card-header">
              <div class="card-header-title">
                {{ dev.game }}
              </div>
            </div>
            <div class="card-content">
              <div class="content">
                {{ dev.developer }} and {{ dev.publisher }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  data: () => ({
    devs: [
      {
        id: 1,
        developer: "Machinegun Games",
        publisher: "Bethesda",
        game: "Indiana Jones",
      },
      {
        id: 2,
        developer: "Housemarque",
        publisher: "Sony Interactive",
        game: "Returnal",
      },
      {
        id: 3,
        developer: "Ubisoft Montreal",
        publisher: "Ubisoft",
        game: "Watchdogs Legion",
      },
    ],
  }),
  methods: {},
};
</script>

<style></style>
