<template>
  <div>
    <nav role="navigation" aria-label="main navigation">
      <b-navbar type='is-primary'>
        <template #brand>
          <b-navbar-item tag='nuxt-link' :to="{path:'/'}">
          <img src="~assets/buefy.png" alt="Buefy" height="28">
          </b-navbar-item>
        </template>
        <template #start>
          <b-navbar-item>Home</b-navbar-item>
          <b-navbar-item>Inspire</b-navbar-item>
          <b-navbar-item>About</b-navbar-item>
        </template>
      <template #end>
          <b-navbar-item tag='div'>Home</b-navbar-item>
          <div class='buttons'>
            <a class='button is-primary'>Signup</a>
            <a class='button is-primary'>Login</a>
          </div>
        </template>
      </b-navbar>
    </nav>

    <section class="main-content columns">
      <aside class="column is-2 section">
        <p class="menu-label is-hidden-touch">
          General
        </p>
        <ul class="menu-list">
          <li v-for="(item, key) of items" :key="key">
            <NuxtLink :to="item.to" exact-active-class="is-active">
              <b-icon :icon="item.icon" /> {{ item.title }}
            </NuxtLink>
          </li>
        </ul>
      </aside>

      <div class="container column is-10">
        <Nuxt />
      </div>
    </section>
  </div>
</template>

<script>
export default {
  data() {
    return {
      items: [
        {
          title: "Home",
          icon: "home",
          to: { name: "index" },
        },
        {
          title: "Inspire",
          icon: "lightbulb",
          to: { name: "inspire" },
        },
        {
          title: "About",
          icon: "account",
          to: { name: "about" },
        },
      ],
    };
  },
};
</script>
