<template>
  <section class="section">
    <h2 class="title is-3 has-text-grey">
      "Just start <b-icon icon="rocket" size="is-large" />"
    </h2>
    <h3 class="subtitle is-6 has-text-grey">
      Author: <a href="https://github.com/R0N1n-dev">R0N1n-dev</a>
    </h3>
    <b-button @click="showNotif" class="is-primary is-light">Welcome</b-button>
    <b-button @click="showToast" class="is-dark is-text">Hello</b-button>
  </section>
</template>

<script>
export default {
  methods: {
    showNotif() {
      this.$buefy.notification.open({
        message: "Welcome to the buefy nuxt template",
        type: "is-dark"
      });
    },
    showToast() {
      this.$buefy.toast.open({
        duration: 4000,
        message: "Hello",
        position: "is-bottom",
        type: "is-danger"
      });
    }
  }
};
</script>
